.popup__container_type_form {
  padding: 10px 36px 6px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

}

@media screen and (max-width: 471px) {
  .popup__container_type_form {
    padding: 25px 22px 25px;
  }
}
