.calc-field {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

@media screen and (max-width: 1000px){
    .calc-field {
        max-width: 640px;
        margin: 0 20px;
        gap: 18px;
    }
}