@import url(../fonts/fonts.css);

@import url(../blocks/calc/calc.css);
@import url(../blocks/calc/__title/calc__title.css);
@import url(../blocks/calc/__subtitle/calc__subtitle.css);
@import url(../blocks/calc/__subtitle/_theme/calc-field__title_theme_white.css);

@import url(../blocks/calc-field/calc-field.css);
@import url(../blocks/calc-field/_type/calc-field_type_shape.css);
@import url(../blocks/calc-field/_type/calc-field_type_length.css);

@import url(../blocks/calc-field/__item/calc-field__item.css);
@import url(../blocks/calc-field/__container/calc-field__container.css);
@import url(../blocks/calc-field/__container/_gap_32/calc-field__container_gap_32.css);
@import url(../blocks/calc-field/__link/calc-field__link.css);
@import url(../blocks/calc-field/__submit/calc-field__submit.css);

@import url(../blocks/pseudo-item/pseudo-item.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_shape.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_length.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_installation.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_entry.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_oven-type.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_oven.css);
@import url(../blocks/pseudo-item/_type/pseud-item_type_equipment.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_foundation.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_body-color.css);
@import url(../blocks/pseudo-item/_type/pseudo-item_type_roof-color.css);
@import url(../blocks/pseudo-item/__image/pseudo-item__image.css);
@import url(../blocks/pseudo-item/__image/_theme/pseudo-item__image_theme_white.css);
@import url(../blocks/pseudo-item/__image/_type/pseudo-item__image_type_length.css);
@import url(../blocks/pseudo-item/__image/_type/pseudo-item__image_type_installation.css);
@import url(../blocks/pseudo-item/__overlay/pseudo-item__overlay.css);
@import url(../blocks/pseudo-item/__overlay/_theme/pseudo-item__overlay_theme_white.css);
@import url(../blocks/pseudo-item/__overlay/_type/pseudo-item__overlay_type_installation.css);
@import url(../blocks/pseudo-item/__title/pseudo-item__title.css);
@import url(../blocks/pseudo-item/__title/_theme/pseudo-item__title_theme_white.css);
@import url(../blocks/pseudo-item/__cost/pseudo-item__cost.css);
@import url(../blocks/pseudo-item/__cost/_theme/pseudo-item__cost_theme_white.css);
@import url(../blocks/pseudo-item/__cost/_remove/pseudo-item__cost_remove.css);
@import url(../blocks/pseudo-item/__cost-top/pseudo-item__cost-top.css);
@import url(../blocks/pseudo-item/__cost-top-text/pseudo-item__cost-top-text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_form.css);
@import url(../blocks/popup/__container/_type/popup__container_type_view-image.css);
@import url(../blocks/popup/__header/popup__title.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__item/_type/popup__item_type_error.css);
@import url(../blocks/popup/__item-error/popup__item-error.css);
@import url(../blocks/popup/__item-error/_active/popup__item-error_active.css);
@import url(../blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(../blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__grid/popup__grid.css);
@import url(../blocks/popup/__row/popup__row.css);

@import url(../blocks/text/__gradient/text__gradient.css);