.pseudo-item {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 210px;
    border-radius: 30px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    box-sizing: border-box;
}

.pseudo-item:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    content: '';
    transition: .5s;
    opacity: 0;
}

.pseudo-item:hover:before {
    opacity: 0.5;
}