@media screen and (min-width: 1001px) {
    .pseudo-item__cost-top_type_equipment {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 5px;
        height: 29px;
        width: 95px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 10px 7px 40px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
}